# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\备份2020.2.5\windows\实训\2017.9.4java实训\carrot_and_rabbit\rabbit_and_carrot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
